#! /usr/bin/make -f

#  export DH_ALWAYS_EXCLUDE := COPYING

%:
	dh $@

override_dh_makeshlibs:
	dh_makeshlibs -n

override_dh_shlibdeps:
	dh_shlibdeps -Xflac.so -Xlastfm.so -Xmpgmad.so -Xffmpeg.so \
		-Xvorbis.so -Xsndfile.so -Xwavpack.so -Xvfs_curl.so \
		-Xnotify.so -Xpulse.so

override_dh_compress:
	dh_compress -XCOPYING.GPLv2 -XCOPYING.LGPLv2.1
